
@{
    Layout = null;
}

<title>Reset Password- Interview & Placement App</title>
<body class="bg-gradient-primary">
    <div class="container">
        <!-- Outer Row -->
        <div class="row justify-content-center">
            <div class="col-xl-10 col-lg-12 col-md-9">
                <div class="card o-hidden border-0 shadow-lg my-5">
                    <div class="card-body p-0">
                        <!-- Nested Row within Card Body -->
                        <div class="row">
                            <div class="col-lg-6 d-none d-lg-block bg-login-image"></div>
                            <div class="col-lg-6">
                                <div class="p-5">
                                    <div class="text-center">
                                        <h1 class="h4 text-gray-900 mb-4">Interview And Placements</h1>
                                    </div>
                                    <form class="user">  
                                        <div class="form-group">
                                            <label for="E-Mail">E-Mail</label>
                                            <div class="input-group">
                                                <input type="email" class="form-control" id="EmailText" disabled>
                                            </div>
                                        </div>
                                        <div class="form-group">
                                            <label for="Password">Password</label>
                                            <div class="input-group">
                                                <input type="password" class="form-control" id="PasswordText" placeholder="Confirm Your Password">
                                            </div>
                                        </div>
                                        <div class="form-group">
                                            <label>Confirm Password</label>
                                            <div class="input-group">
                                                <input type="password" class="form-control" id="Password2Text" placeholder="Password">
                                                <div class="input-group-prepend">
                                                    <div class="input-group-text"><a href=""><i class="fa fa-eye-slash"></i></a></div>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="form-group">
                                            <div class="custom-control custom-checkbox small">
                                                <input type="checkbox" class="custom-control-input" id="customCheck">
                                                <label class="custom-control-label" for="customCheck">Remember Me</label>
                                            </div>
                                        </div>
                                        <a onclick="Login()" class="btn btn-primary btn-user btn-block">
                                            <i style="color : white">Login</i>
                                        </a>
                                    </form>
                                    <hr>
                                    <div class="text-center">
                                        <button class="btn btn-warning" data-toggle="modal" data-target="#myModal">Forgot Password?</button>
                                    </div>
                                    <div class="text-center">
                                        <a class="small" href="register.html">Create an Account!</a>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

</body>



<!-- Custom fonts for this template-->
<link href="~/Assets/Login/vendor/fontawesome-free/css/all.min.css" rel="stylesheet" type="text/css" />
<link href="https://fonts.googleapis.com/css?family=Nunito:200,200i,300,300i,400,400i,600,600i,700,700i,800,800i,900,900i" rel="stylesheet">
<!-- Custom styles for this template-->
<link href="~/Assets/Login/css/sb-admin-2.css" rel="stylesheet">
<!-- Bootstrap core JavaScript-->
<script src="~/Assets/Login/vendor/jquery/jquery.min.js"></script>
<script src="~/Assets/Login/vendor/bootstrap/js/bootstrap.bundle.min.js"></script>
<!-- Core plugin JavaScript-->
<script src="~/Assets/Login/vendor/jquery-easing/jquery.easing.min.js"></script>
<!-- Custom scripts for all pages-->
<script src="~/Assets/Login/js/sb-admin-2.min.js"></script>
<script src="https://cdn.jsdelivr.net/npm/sweetalert2@9"></script>

<script>

    function Login() {
        var user = new Object();
        user.UserName = $("#UsernameText").val();
        user.PasswordHash = $("#PasswordText").val();
        $.ajax({
            "url": "/Login/Login",
            "type": "Post",
            "dataType": "json",
            "data": { UserName: user.UserName, PasswordHash: user.PasswordHash }
        }).then((result) => {
            debugger
            if (result.statusCode == 200) {
                Swal.fire(
                    'Success!',
                    'Login Success',
                    'success').then(() => {
                        onclose: window.location.href = "/Users/MyProfile"
                    });
            }
            else {
                Swal.fire(
                    'Failed!',
                    'Oops.',
                    'failed'
                )
            }
        })
    }

    function ForgotPassword() {
        var user = new Object();
        user.Email = $("#EmailText").val();
        $.ajax({
            "url": "/Login/ForgetPassword",
            "type": "Post",
            "dataType": "json",
            "data": { Email: user.Email}
        }).then((result) => {
            debugger
            if (result.statusCode == 200) {
                Swal.fire(
                    'Success!',
                    'Request Success',
                    'success').then(() => {
                        onclose: window.location.href = result.data
                    });
            }

        })
    }
</script>